<div class="wrapper__content">
  <section class="section-shopping">
    <h1 class="main-title">Shopping <span class="brendcolor">List</span></h1>
    <div>
      <ul class="js-list-books list-books"></ul>
    </div>

    <div id="empty-page-message" class="empty-page-message">
      <p class="text-empty">
        This page is empty, add some books and proceed to order.
      </p>
      <img
        srcset="../images/IMG_9606-1x.png 1x, ../images/IMG_9606-1x.png 2x"
        src="../images/IMG_9606-1x.png"
        alt="Empty Page"
      />
    </div>
  </section>
</div>
