<div class="container-support container">
  <div class="container-title-supp">
    <div class="support-title"><h2 class="title-Ukr">Support Ukraine</h2></div>
    <div class="svg-supp">
      <svg class="support-svg" width="20" height="32">
        <use href="./images/icons.svg#icon-ukraine"></use>
      </svg>
    </div>
  </div>
  <div class="container-ul-supp">
    <ul class="support-list">
      <li class="supp-li">
        <a
          href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis"
          ><img
            class="support-img"
            srcset="
              ./images/save-the-children-1x.png 1x,
              ./images/save-the-children-2x.png 2x
            "
            src="./images/save-the-children-1x.png"
            alt="save the children"
            width="129"
            height="32"
        /></a>
      </li>
      <li class="supp-li">
        <a href="https://www.projecthope.org/country/ukraine"
          ><img
            class="support-img"
            srcset="
              ./images/project-hope-1x.png 1x,
              ./images/project-hope-2x.png 2x
            "
            src="./images/project-hope-1x.png"
            alt="project hope"
            width="62"
            height="32"
        /></a>
      </li>
      <li class="supp-li">
        <a href="https://internationalmedicalcorps.org/country/ukraine"
          ><img
            class="support-img"
            srcset="
              ./images/international-medical-corps-1x.png 1x,
              ./images/international-medical-corps-2x.png 2x
            "
            src="./images/international-medical-corps-1x.png"
            alt="international medical corps"
            width="101"
            height="32"
        /></a>
      </li>
      <li class="supp-li">
        <a href="https://www.razomforukraine.org"
          ><img
            class="support-img"
            srcset="./images/razom-1x.png 1x, ./images/razom-2x.png 2x"
            src="./images/razom-1x.png"
            alt="razom"
            width="82"
            height="32"
        /></a>
      </li>
      <li class="supp-li">
        <a href="https://www.actionagainsthunger.org/location/europe/ukraine"
          ><img
            class="support-img"
            srcset="
              ./images/action-against-hunger-1x.png 1x,
              ./images/action-against-hunger-2x.png 2x
            "
            src="./images/action-against-hunger-1x.png"
            alt="action against hunger"
            width="55"
            height="32"
        /></a>
      </li>
      <li class="supp-li">
        <a href="https://prytulafoundation.org/en"
          ><img
            class="support-img"
            srcset="
              ./images/sergiy-prytula-1x.png 1x,
              ./images/sergiy-prytula-2x.png 2x
            "
            src="./images/sergiy-prytula-1x.png"
            alt="sergiy prytula"
            width="115"
            height="32"
        /></a>
      </li>
      <!-- <li class="supp-li">
        <a href="https://www.msf.org/ukraine"
          ><img
            class="support-img"
            srcset="
              ./images/medecins-sans-frontieres-1x.png 1x,
              ./images/medecins-sans-frontieres-2x.png 2x
            "
            src="./images/medecins-sans-frontieres-1x.png"
            alt="medecins sans frontieres"
            width="94"
            height="32"
        /></a>
      </li>
      <li class="supp-li">
        <a href="https://www.wvi.org/emergencies/ukraine"
          ><img
            class="support-img"
            srcset="
              ./images/world-vision-1x.png 1x,
              ./images/world-vision-2x.png 2x
            "
            src="./images/world-vision-1x.png"
            alt="world vision"
            width="85"
            height="30"
        /></a>
      </li>
      <li class="supp-li">
        <a href="https://u24.gov.ua/uk"
          ><img
            class="support-img"
            srcset="
              ./images/united24-1x.png 1x,
              ./images/united24-2x.png 2x
            "
            src="./images/united24-1x.png"
            alt="united24"
            width="109"
            height="10"
        /></a>
      </li> -->
    </ul>
    <div class="supp-scroll">
      <button type="button" class="supp-btn">
        <svg class="supp-arrow" width="20" height="20">
          <use href="./images/icons.svg#icon-arrowup"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
