.categories {
  width: 335px;
  height: 228px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}

@media screen and (min-width: 768px) {
  .categories {
    width: 337px;
    height: 472px;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .categories {
    width: 356px;
    margin-left: 24px;
    margin-right: 40px;
  }
}

.categories-div {
  padding-right: 20px;
}

.categories-element {
  width: 307px;
  margin-bottom: 24px;
}

.categories-element:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .categories-element {
    width: 309px;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .categories-element {
    width: 328px;
  }
}

.categories-item {
  border: none;
  background-color: transparent;
  color: rgba(17, 17, 17, 0.6);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.32px;
  padding: 0;
  line-height: 1.125;
}

@media screen and (min-width: 768px) {
  .categories-item {
    font-size: 18px;
    letter-spacing: -0.36px;
    line-height: 1.33;
  }
}

.categories::-webkit-scrollbar {
  width: 8px;
}

.categories::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 12px;
  /* округлось бегунка */
}

.active-btn {
  color: #4f2ee8;
  text-transform: uppercase;
  font-weight: 700;
}