/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/

@import url('./reset.css');
@import url('./books.css');
@import url('./header.css');
@import url('./modal-window.css');
@import url('./support-Ukraine.css');
@import url('./categories.css');
@import url('./top-books.css');
@import url('./adaptive.css');
@import url('./theme-dark.css');
@import url('./root.css');



:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  /*не меняются*/
  --black-color: #111;
  /*чёрный*/
  --white-color: #fff;
  /*белый*/

  --grey-background-color: #f6f6f6;
  /*серый фон*/
  --grey-text-color: #b4afaf;
  /*серый текст*/
  --violet-color: #4f2ee8;
  /*фиол*/
  --yellow-color: #eac645;
  /*жолный*/
  /* --support-ukraine-background: radial-gradient(
      189.32% 190.93% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #fff 100%
    );
    --support-ukraine-box-shadow: rgba(245, 245, 247, 0.1); */
  --shopping-list-box-book-border: rgba(79, 46, 232, 0.4);
  --pop-up-background: rgba(17, 17, 17, 0.4);
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*меняются->*/

.light {
  /*тема светлая-:>*/
  /*1*/
  --rep-black: #111;
  /*2*/
  --rep-white: #fff;
  /*3*/
  --rep-color-background: #f6f6f6;
  /*4*/
  --rep-category-text: rgba(17, 17, 17, 0.6);
  --rep-category-scrol: #e0e0e0;
  /*5*/
  --rep-category-text-activ: #4f2ee8;
  /*6*/
  --rep-shopping-list-empty: rgba(0, 0, 0, 0.6);
  /*7*/
  --rep-pop-up-background: #fff;
  /*8*/
  --rep-pop-up-text-activated-batton: rgba(17, 17, 17, 0.5);
  --rep-pop-up-amazon: grayscale(100%);
  --rep-x-focus: #4f2ee8;
}

.dark {
  /*тема тёмная-:>*/
  /*1*/
  --rep-black: #fff;
  /*2*/
  --rep-white: #111;
  /*3*/
  --rep-color-background: #202024;
  /*4*/
  --rep-category-text: rgba(255, 255, 255, 0.6);
  --rep-category-scrol: rgba(17, 17, 17, 0.6);
  /*5*/
  --rep-category-text-activ: #eac645;
  /*6*/
  --rep-shopping-list-empty: rgba(255, 255, 255, 0.6);
  /*7*/
  --rep-pop-up-background: #202024;
  /*8*/
  --rep-pop-up-text-activated-batton: rgba(255, 255, 255, 0.5);
  --rep-pop-up-amazon: brightness(0) invert(1);
  --rep-x-focus: #eac645;
}

body {
  font-family: 'DM Sans', sans-serif;
  color: var(--rep-black);
  background-color: var(--rep-color-background);
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }


}

@media screen and (min-width: 375px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

.main-title {
  font-size: 32px;
  line-height: 1.19;
  letter-spacing: -1.92px;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .main-title {
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -1.92px;
  }
}

.brendcolor {
  font-size: inherit;
  color: #4f2ee8;
}

/* .is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.x {
  border: none;
}