.container-support {
    padding-left: 40px;

    width: 335px;
    height: 460px;
    border-radius: 16px;
    margin-bottom: 40px;
    margin-top: 40px;

    background: radial-gradient(189.32% 190.93% at 59.76% -23.42%,
            #4f2ee8 18.03%,
            #fff 100%);

    box-shadow: 0px 10px 10px 0px rgba(245, 245, 247, 0.1);
}

.container-ul-supp {
    height: 292px;
    width: 159px;
    margin-top: 44px;

    margin-bottom: 72px;
}

.supp-li {
    counter-increment: list-item;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.supp-li:before {
    content: counter(list-item, decimal-leading-zero);
    margin-right: 16px;
    color: #fff;

    font-size: 14px;

    font-weight: 400;
    line-height: 1.28px;
    letter-spacing: -0.56px;
}

.support-img {
    filter: grayscale(100%);
    filter: brightness(0) invert(1);
}

.container-support {}

.container-title-supp {
    display: flex;
    flex-direction: row;
    padding-top: 24px;

    align-items: center;
}

.support-title {
    display: flex;
    margin-right: 12px;
}

.svg-supp {
    display: flex;
}

.support-svg {
    fill: #fff;
}

.support-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: start;
    align-items: start;
}

.support-img {}

.title-Ukr {
    font-size: 22px;
    color: #fff;

    font-weight: 700;
    line-height: 1.09;
    letter-spacing: -0.88px;
}

.supp-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 112px;
}

.supp-btn {
    cursor: pointer;
    border-radius: 50%;
    background-color: #fff;
    width: 32px;
    height: 32px;
    transform: rotate(90deg);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.supp-arrow {
    transform: rotate(90deg);
    stroke: #4f2ee8;
    padding: 3px 3px 3px 3px;
}

@media screen and (min-width: 768px) {
    .container-support {
        height: 474px;
    }

    .title-Ukr {
        font-size: 24px;
        color: #fff;

        font-weight: 700;
        line-height: 1.16;
        letter-spacing: -0.96px;
    }

    .supp-scroll {
        margin-top: 24px;
        margin-left: 108px;
    }

    .supp-btn {
        width: 38px;
        height: 38px;
    }

    .supp-arrow {
        padding: 2px 2px 2px 2px;
    }

    .container-ul-supp {
        margin-bottom: 76px;
    }
}

@media screen and (min-width: 1440px) {
    .container-support {
        width: 356px;
        height: 474px;
    }

    .title-Ukr {
        font-size: 24px;
        color: #fff;

        font-weight: 700;
        line-height: 1.16;
        letter-spacing: -0.96px;
    }

    .supp-scroll {
        margin-top: 24px;
        margin-left: 110px;
    }

    .supp-btn {
        width: 38px;
        height: 38px;
    }

    .supp-arrow {
        padding: 2px 2px 2px 2px;
    }

    .container-ul-supp {
        margin-bottom: 76px;
    }
}