/* .light .header{
    background: #FFF;

} */
.dark .books {
    background: #202024;
}

.dark {
    background: #202024;
}

.dark .header,
.dark .header-container {
    color: #FFF;
    background: #111;
}

.dark .header {
    border: 1.5px solid #FFF;
}

.dark .site-nav_link,
.dark .header-logo-link,
.dark .site-nav_link,
.dark .site-nav_logo_active .dark .site-nav-logo,
.dark .burger-menu__icon,
.dark .mobile-menu__header,
.dark .mobile-menu__icon,
.dark .close-button__icon .dark .img-light {
    color: #FFF;
    fill: #FFF;
    stroke: #FFF;
}

.dark .site-nav_link_active {
    color: #111;
    stroke: #FFF;
}

.dark .category-tittle,
.dark .heading-top-books,
.dark .book-item-title,
.dark .see-more-btn {
    color: #FFF;
}

.dark .book-item-tittle,
.dark .shopping-title-book,
.dark .description {
    color: #FFF;
}

.dark .book-item-text {
    color: #B4AFAF;
}

.dark .categories-item {
    color: rgba(255, 255, 255, 0.60)
}

.dark .active-btn,
.dark .active-btn:hover {
    color: #EAC645;
}

.dark .main {
    background: #202024;
}

.dark .mobile-menu__header {
    border: 1.5px solid #FFF;
    background: #111;
}

.dark .modal-pop-up {
    background: #202024;
    border: 2px solid #FFF;
}

.dark .text-empty {
    color: rgba(255, 255, 255, 0.60);
}

.dark .main-title {
    color: #FFF;
}

.dark .js-list-books {
    color: #FFF;
}

.dark .modal-pop-up-btn {
    border: 2px solid #4F2EE8;
}

.dark .shopping-list-icon {
    /* amazon */
    filter: grayscale()invert();
    /* apple */
    filter: grayscale();
}

.dark .shopping-list-icon:hover {

    /* amazon */
    filter: invert(0)grayscale(0)drop-shadow(2px 0 6px #fff);
    /* apple */
    filter: drop-shadow(0px 3px 3px rgba(255, 255, 255, 0.35));
}