.heading-top-books {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: -1.92px;
  color: #111;
  margin-bottom: 40px;
}

.part-heading-top {
  color: #4f2ee8;
}

.category-title-top {
  color: #b4afaf;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

.book-list-item.item-top-books {
  margin-bottom: 8px;
  cursor: pointer;
}

.see-more-btn {
  display: block;
  margin-left: auto;
  padding: 14px 28px;
  margin-bottom: 40px;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  background-color: transparent;
  color: #111;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28;
  letter-spacing: -0.14px;
  text-transform: uppercase;
}

.book-item-tittle.book-item-top {
  max-width: 335px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-top-img {
  object-fit: cover;
  object-position: center;
  display: block;
  max-width: 335px;
  max-height: 485px;
  border-radius: 8px;
}

.image-caption {
  color: #111;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: -0.56px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0px 0px 8px 8px;
  background: #eac645;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 26px;
  transform: translateY(100%);
  /* По замовчуванню сховано */
  transition: transform 0.3s;
}

.image-container {

  position: relative;
  overflow: hidden;
  margin-bottom: 14px;
}

.image-container:hover .image-caption {
  transform: translateY(0);
}

@media screen and (min-width: 768px) {
  .book-list-item.item-top-books {
    margin-bottom: 20px;
  }

  .book-item-tittle.book-item-top {
    max-width: 218px;
  }

  .book-list.book-list-top {
    row-gap: 0;
  }

  .heading-top-books {
    font-size: 48px;
    line-height: 1.08;
  }

  .book-list-item {
    min-width: calc((100% - 50px) / 3);
  }

  .book-top-img {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 1440px) {
  .books {
    width: 996px;
  }

  .category-title-top {
    line-height: 1.71;
  }

  .book-list-item.item-top-books {
    margin-bottom: 32px;
  }

  .book-item-tittle.book-item-top {
    max-width: 180px;
  }

  .book-top-img {
    object-fit: fill;
    width: 180px;
    height: 256px;
  }

  .book-list-item {
    min-width: calc((100% - 96px) / 5);
    width: calc((100% - 96px) / 5);
  }
}